@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
*{
    font-family: 'Raleway';
}
body#login {
    background: url(../assets/messi.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formStyle{
    box-shadow: 0px 6px 4px 0px #00000040;
    width: 364px;
}
.btn-inicio{
    background-color: #374785;
    color: #ffffff;
}
.flex-logo{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #ffffff;
    text-align: end;
    padding-right: 15px;
}
.displayLogo{
    display: none;
}
.container-map {
    position: relative;
}
.fix {
    position: absolute;
    left: 29%;
    z-index: 1;
}
.select-styles{
    box-shadow: 0px 4px 4px rgba(25, 1, 1, 0.25), inset 0px 0px 3px rgba(0, 0, 0, 0.18);
}
#map { 
    height: 92vh;
    z-index: -1;
}
:root {
    --border-radius: 5px;
}
.tittle-styles {
    color: #119DD8;
}
.card-style {
    box-shadow: 0px 6px 4px 0px #00000040;
}
.img-wrapper {
    height: 250px;
    overflow: hidden;
    position: relative;
}
.dorsal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
}
/* .blur {
    filter: blur(1px);
}
.blur:hover {
    filter: blur(0px);
} */
@media only screen and (max-width: 500px) {
    body#login{
        background: transparent; 
    }
    .displayLogo{
        display: flex;
    }
    .flex-logo{
        text-align: center;
        padding-right: 0px;
    }
    .formStyle{
        box-shadow: none;
    }
    .displayLogoMovile{
        display: none;
    }
}


